@import "../global.scss";


* {
  font-family: Arvo;

}

body {
  overflow: hidden;

}


.div1 img {
  width: auto;
  height: 100%;
  position: absolute;
  min-width: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div2 {
  z-index: 10;
  margin: 10% auto auto;
  width: 40%;
  color: white;
  text-align: center;

}

.current_map_header {
  color: $yellow;
  font-size: 5rem;
  margin: 0 auto 1rem;
}


.rotation_button {
  background-color: transparent;
  border: 2px solid $yellow;
  color: $yellow;
  padding: 15px 25px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  display: flex;
  align-items: center;
  margin: 60px auto auto;
  border-radius: 15px;
  
  
}

.hearticon{
  position: fixed;
  margin-bottom: 45px;
  margin-left: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.rotation_button a {
  display: inline-block; /* Use inline-block layout */
  vertical-align: middle; /* Align vertically with the image */
  font-size: 20px;
}

/* Nessie image in button */

.rotation_button img {
  width: 22px; 
  height: 22px; 
  margin-right: 10px; 
  display: inline-block;
}

  /* rotates nessie in button when hoverd */

.rotation_button img:hover  { 
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: transform .2s ease-in-out;
}

.rotation_button img:not(:hover){
  transition: transform .2s ease-in-out;
  transform-origin: center;
}

@media screen and (max-width: 599px), screen and (min-width: 600px) and (max-width: 959px) {

  /* Mobile Support */


  .current_map_header {
    font-size: calc(3rem + .5vw);
    font-weight: bolder;
  }

  .div1 img {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .div2 {
    width: 40%;
    font-size: 20px;

  }


  /* Makes Nessie image in button disapera on mobile  */
  .rotation_button img {
    display: none;
  }
}